body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Courier New", Courier, monospace;
}

.bg {
  width: 100%;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 450px;
  height: 430px;
  background: white;
  z-index: 10;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}

.container {
  width: 100px;
  height: 100px;
  border-width: 1px;
  border-style: solid;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.secondary {
  background-color: #06c183;
  border-radius: 3px;
  border-style: solid;
  border-radius: 6px;
  border-color: #06c183;
  font-size: 0.9rem;
  margin-right: 4px;
  font-family: "Courier New", Courier, monospace;
}

.secondary:hover {
  background-color: #3E9651;
  color: white;
}

.danger {
  background-color: #F18D99;
  border-radius: 3px;
  border-style: solid;
  width: 40%;
  border-color: #F18D99;
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
}


.form-row {
  display: flex;
  flex-direction: row;
}

.form-row input {
  margin-left: 4px;
}

.action-center {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-start;
}

header {
  width: 100%;
  height: 50%;
  overflow: hidden;
  padding: 20px 10px;
}

.corner {
  float: left;
  margin-left: 10px;
}

.corner a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin-right: 10px;
  width: 100%;
  height: 100%;
}

nav {
  margin-left: 4px;
  display: flex;
  justify-content: center;
  --background: white;
}
ul {
  position: relative;
  padding-right: 4px;
  margin: 0 0 0 20px;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background: var(--background);
  background-size: contain;
}

li {
  position: relative;
  height: 100%;
  margin-right: 4px;
}

li span {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  margin-right: 4px;
  margin-left: 4px;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s linear;
}

li span:hover {
  color: var(--color-theme-1);
}

.bg-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-container a {
  text-decoration: none;
  color: black;
}

.bg-row{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.bg2 {
  width: 300px;
  height: 100%;
}

.msg {
  font-size: 16px;
}

.primary {
  background-color: #1c8092;
  border-radius: 3px;
  border-style: solid;
  border-radius: 6px;
  border-color: #1c8092;
  font-size: 0.9rem;
  margin-right: 4px;
  font-family: "Courier New", Courier, monospace;
}

.primary:hover {
  background-color: #7db9c4;
  border-color: #7db9c4;
  color: white;
}

.links {
  float: right;
  margin-left: 5px;
}
.links a, .links span {
  text-decoration: none;
  color: black;
  text-align: center;
  margin-right: 6px;
}